<%- include('../partials/header') %>

<main>
  <div id='contact-body'>
    <h1>Hello there!</h1>
    <h4>Thank you for checking out my web application! If you have any questions, suggestions, or simply want to connect, you can always reach out to me at the provided links below: </h4>
    <span id='social-icons'>
      <i id='linkedin' class="fab fa-linkedin-in fa-6x"></i></a>
      <i id='github' class="fab fa-github fa-6x"></i>
      <i id='email' class="fas fa-envelope fa-6x"></i>
    </span>
  </div>
</main>


<%- include('../partials/footer') %>