<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src='javascripts/app.js'></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <nav>
      <body>
        <nav class="navbar">
          <div class="brand-title">Tech Hunter</div>
          <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </a>
          <div class="navbar-links">
            <ul>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Tracker</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="#">Resources</a></li>
              <% if (user) { %>
                <li>
                  <a href="/auth/logout">Log Out</a>
                </li>
                <% } else { %>
                <li>
                  <a href="/auth/google">Login with Google</a>
                </li>
                <% } %>
            </ul>
          </div>
        </nav>