<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src='javascripts/app.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div id="page-container">
      <div id="content-wrap">
        <nav>
          <body>
            <nav class="navbar">
              <div class="brand-title"><a href='/'>Tech Hunters</div></a>
              <div class="navbar-links">
                <ul>
                  <li><a href="/jobs">Jobs</a></li>
                  <li><a href="/tracker">Tracker</a></li>
                  <li><a href="/messages">Message Board</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <% if (user) { %>
                    <li>
                      <a href="/auth/logout">Log Out</a>
                    </li>
                    <% } else { %>
                    <li>
                      <a href="/auth/google">Login with Google</a>
                    </li>
                    <% } %>
                </ul>
              </div>
            </nav>