* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 90vw;
  margin: 0 auto;
  padding: 20px 15px;
}

button {
  cursor: pointer;
  font-size: 1.2rem; 
  border-radius: 10px;
  color: white;
  background-color: #333;
  padding: 0.5rem 1.8rem; 
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65) 

}

/* button code */
button:hover{
  filter: brightness(150%);
}

button:active {
  transform: translate(0, 0.3rem)
}

.fa-twitter {
  font-size: 2rem;
}

.twitter-button:hover {
  color: #1DA1F2;
}


/* nav bar code below */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* footer styling */
a {
  text-decoration: none;
  color: white;
}

/* footer code */


@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  background-color: #303;
  color: #fff;
}