<%- include('../partials/header') %>

<main>
  <h1><%= user ? user.name : "Friend" %>, it's time to find your dream job</h1>
  <div id='searchbar'>
    <form action="/jobs/search" method='POST'>
      <div id='jobs-text-inputs'>
        <label for="keyword">keyword</label>
        <input type="text" name='keyword'>
        <label for="location">location</label>
        <input type="text" name='location'>
      </div id='jobs-text-inputs'>
      <div id='jobs-checkbox-inputs'>
        <label for="fulltime">Full Time</label>
        <input type="checkbox" name='fullTime'>
      </div>
      <div id='btn-search-row'>
      <button class='btn btn-primary btn-sm' id='job-search-btn' type='submit'>SUBMIT</button>
      </div>
    </form>

    <%= results %> 
</div>




</main><%- include('../partials/footer') %>